* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.menu {
    height: 100vh;
    width: 100%;
    background-image: url(images/john1.jpg);
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-right: 8%;
    padding-left: 8%;
}

.logo {
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 1px;
    cursor: pointer;
}

span {
    color: #f90040;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 30px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: #f90040;
    transition: 0.4s;
}

.btn {
    background-color: #f90040;
    color: #ffffff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: 0.4s;
}

.btn:hover {
    transform: scale(1.2);
}

.content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1 {
    color: #ffffff;
    margin: 20px 1px 20px;
    font-size: 70px;
}

h3 {
    color: #ffffff;
    font-size: 25px;
    margin-bottom: 50px;
}

h4 {
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}

.newslatter form {
    width: 380px;
    max-width: 100%;
    position: relative;
}

.newslatter form input:first-child {
    display: inline-block;
    width: 100%;
    padding: 14px 130px 15px 15px;
    border: 2px solid #f90040;
    outline: none;
    border-radius: 30px;
}

.newslatter form input:last-child {
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #f90040;
    color: #ffffff;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
    cursor: pointer;
}

/* About */
.about {
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}

.about img {
    height: auto;
    width: 430px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-detail {
    width: 550px;
}

.about-detail h2 {
    color: #ffffff;
    font-size: 70px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-detail h5 {
    color: #ffffff;
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.about-detail p {
    color: #ffffff;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;
    margin-bottom: 45px;
    text-align: justify;
}

button {
    background-color: #f90040;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

button:hover {
    background-color: transparent;
    border: 2px solid #f90040;
    cursor: pointer;
}